<form id="form_id">
  <label for="title">Title</label>
  <input type="text" name="post[title]" id="title">
  <br>
  <br>
  <label for="booty">Body</label>
  <textarea name="post[body]" id="body"></textarea>
  <br>
  <br>
  <input type="submit" value="Submit Post">
</form>
